header {
	grid-area: header;
	h3 {
		padding-left: 120px;
	}
}
.imagen-carrusel {
	width: 1200px;
	height: 200px;
}
.contenedor-carrusel {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.carrusel {
	display: flex;
	justify-content: center;
	object-fit: cover;
	&-img{
	margin-top: 40px;
	width: 90%;
	height: 50%;
	
	}

}
.carrusel-2{
	display: none;
}	
.contenedor-carrusel {
	margin-top: 10px;
}