*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: arial;
}
body{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px auto 1fr 100px;
    grid-template-areas: "nav nav nav nav"
                         "header header header header"
                         "main main main main"
                         "footer footer footer footer";
}
header{
    grid-area: header;   
}
header h3{
    padding-left: 120px;
}
/*Navegador*/
.navegador > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
       
}

.navegador {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    box-shadow: 4px 4px 6px 0px rgb(236, 235, 235);
    width: 100%;   
    position: fixed;
    z-index: 10;
    
}


.navegador li a {
    text-decoration: none;
    color: rgb(74, 88, 100);
    font-size: 20px;
    padding: 20px;
    list-style-type: none;  
}
.logo img{
    width: 80px;
    height: 80px

}
.navegador .menuHamburguesa{
    display: none;
    color: rgb(7, 7, 7);
    font-size: 25px;
    
}

/*carrusel*/
.imagen-carrusel{
    width: 1200px;
    height: 200px;
}
 .contenedor-carrusel{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.carrusel{
    width: 90%;
    background-image: url(../img/carrusel.webp) ;
    background-size: cover ;
    height: 250px; 
    background-position: center;
} 

/* CONTACTOS*/
.titulo-contacto{
    width: 100%;
    display: flex;
    justify-content: center;
}
.titulo-contacto h2{
    font-size: 40px;
    padding: 30px;   
}
form{
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
}
form input, form textarea{
    padding: 10px;
    font-size: 15px;
    background-color: rgb(250, 250, 250);
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 2px;

    
}
.info-contacto{
    display: flex;
}
form textarea{
    max-width: 435px;
    min-width: 435px;
    min-height: 350px;
    max-height: 350px ;
}
form button{
    padding: 5px 10px;
    background-color:  rgb(250, 250, 250);
    border: 1px solid #ccc;
    border-radius: 2px;
    
}
/*Formato de tarjeta de todas las imagenes*/
.imagenes-inicio{
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    padding: 40px;
    justify-content: center;  
    flex-wrap: wrap;
    
}
.imagenes-inicio > div{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc ;
    border-radius: 4px;
    position: relative;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagenes-inicio > div:hover{
    transition: .5s;
    box-shadow: 4px 4px 4px rgb(236, 236, 236);
    z-index: 2;
}
.imagenes-inicio > div button{
    padding: 10px;
    background-color: #01986d;
    border: 0px;
    border-radius: 4px;
    position: absolute;
    bottom: 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
}
.imagenes-inicio > div > h3, .imagenes-inicio > div > p{
    color: #0f0f0f;
}
/*Main Recetados*/
main{
    display: flex;
    grid-area: main;
    flex-direction: column;
}
/*Filtros*/
.filtros{
    padding: 5px;
    height: 60px;
    width: 90px;
    margin-top: 90px;
    margin: 20px;
    list-style-type: none;
    font-size: 20px;
}
.filtros .filtroTelefono{
    display: none;
    font-size: 20px;
    color: rgb(7,7,7);
}
.filtros li{
    margin: 10px; 
}


.filtros > li > ul > li > ul{
    text-decoration: none;
    color: #000;
}
.filtros > li > ul > li{
    list-style-type: none;
}
.filtros > li > ul{
    display: none;
}
.filtros  li:hover ul{
    display: block;
}

.filtros > li > ul > li > a{
    text-decoration: none;
    color: #000;
}
.carrusel-recetados{
    width: 90%;
    background-image: url(../img/ImagenCarruselRecetados3.jpg) ;
    background-size: cover ;
    height: 250px; 
    background-position: center;
}
/*Footer*/
footer{
    display: flex;
    justify-content: space-between;
    background-color: #ccc; 
    grid-area: footer;
}
footer i{
    padding: 20px;
    font-size: 40px;
    color: #000;
}
footer p{
    font-size: 20px;
    margin-top: 30px;
}
.main-contacto{
    height: 670px;
}
/*Contactologia*/
.carrusel-contactologia{
    width: 90%;
    background-image: url(../img/CarruselLentesDeContacto.jpg) ;
    background-size: cover ;
    height: 300px; 
    background-position: center;
}
/*Comence con media query*/ 
@media (max-width:576px) {
 body{
   grid-auto-rows: 80px auto auto 100px;
   grid-template-areas: "nav nav nav nav"
                        "header header header header"
                        "main main main main"
                        "footer footer footer footer";
}
.navegador .menuHamburguesa{
    display: block;
}
.navegador ul{
    position: fixed;
    top: 59px;
    left: -300px;
    flex-direction: column;
    background-color:  rgb(245, 244, 244);
    width: 250px;
    height: 100vh;
    justify-content: flex-start;
    transition: .5s;
    align-items: center;
}
.navegador ul li{
    padding: 25px;
    
}
.navegador .menuHamburguesa:hover + ul{
    left: 0px;
}
.navegador ul:hover{
    left: 0px;

}

}
@media (max-width:1100px){
    .carrusel{
        background-image: url(../img/Carrusel-telefonos.jpg);
    }
    .contenedor-carrusel{
        margin-top: 10px;
    }
    footer i{
        font-size: 20px;
        padding: 10px;
    }
}
    